<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>BatchTests</key>
		<dict>
			<key>testBatchInsert_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.44072</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 27, 2017, 4:32:06 PM</string>
				</dict>
			</dict>
			<key>testBatchSyncableInsert_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.30405</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 27, 2017, 4:32:06 PM</string>
				</dict>
			</dict>
		</dict>
		<key>ModelTests</key>
		<dict>
			<key>testPerformanceLotsOfInserts()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11297</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 27, 2017, 4:32:06 PM</string>
				</dict>
			</dict>
			<key>testPerformanceLotsOfInsertsReads()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.38661</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 27, 2017, 4:32:06 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
